script {
  visibility: hidden;
}

.actions-container, .parameters {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}

.parameter {
  display:flex;
  flex-direction: column;
  width: 100px;
}

.score {
  border-radius : 8px;
  padding: 5px 8px;
  background-color: blueviolet;
  color: #FFF;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board-container {
  margin-top: 20px;
  border-radius: 16px;
  background-color: #dcdcdc;
  margin: 50px;
  max-width: 90vw;
  overflow-x: scroll;
}

#board-infos {
  margin : 20px; 
  margin-bottom: 0;
}

#mines-left {
  color: red;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin:  0 20px;
}

.row:first-child {
  margin-top: 20px;
}

.row:last-child {
  margin-bottom: 20px;
}

.cell {
  border: 1px solid white;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}